@theme {
  --animate-wave: wave 5s ease-in-out infinite alternate;
  @keyframes wave {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }
}

@layer base {
  button {
    @apply cursor-pointer;
  }
  h1 {
    @apply font-display-median text-3xl font-black sm:text-4xl lg:text-5xl xl:text-6xl;
  }
  h2 {
    @apply font-display text-2xl font-bold sm:text-3xl lg:text-4xl xl:text-5xl;
  }
  h3 {
    @apply font-display text-xl font-bold sm:text-2xl lg:text-3xl xl:text-4xl;
  }
  h4 {
    @apply font-display text-lg font-medium sm:text-xl lg:text-2xl xl:text-3xl;
  }
  h5 {
    @apply font-display text-lg font-light sm:text-xl lg:text-2xl xl:text-3xl;
    color: var(--muted-foreground);
  }
  h6 {
    @apply font-display font-light sm:text-lg lg:text-xl;
    color: var(--muted-foreground);
  }
  .text-header {
    @apply font-display-median text-3xl font-black sm:text-4xl;
  }

  .font-logo {
    @apply font-display-median font-black tracking-tight;
  }

  .text-wave {
    background: linear-gradient(
      to right,
      var(--color-primary-foreground) 20%,
      var(--color-accent) 30%,
      var(--color-primary-foreground) 70%,
      var(--color-accent) 80%
    );
    background-size: 500% auto;
    @apply animate-wave inline-block bg-clip-text text-transparent;
  }
}
