@layer components {
  .section {
    @apply w-full px-4 md:px-8 pt-2 lg:pt-4 pb-4 lg:pb-6 lg:px-16;
  }
  .card {
    background-color: var(--color-white);
    border-radius: var(--rounded-lg);
    padding: var(--spacing-6);
    box-shadow: var(--shadow-xl);
  }
}
